*.DS_Store
*.idea
*.iml
.gradle
local.properties

.project
.settings
.classpath

**/Pods/
**/*.xcuserstate
*.lock
ios/quickstarts/vision/Podfile.lock
*.xcworkspacedata
.gitignore
*.plist
*.xcbkptlist

.vscode/*
*.vscode/settings.json
*.vscode/tasks.json
*.vscode/launch.json
*.vscode/extensions.json
*.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
ios/quickstarts/vision/.vscode/settings.json
